
 .mainwrap {
   width:100%;
   height: 100%;
   background-color: black;
   display: flex;
   flex-flow: column;
   justify-content: center;
 }

 .auth {
   width: 40%;
   height: 20%;
   margin: auto;
 }

 .logform {
   color: white;
 }

 .userbtn {
   color: white;
   background-color: black;
   border: 2px solid white;
 }

 .ChInBtn {
  background-color: #202020;
  border: 1px solid white;
  color: white;
  border-radius: 3px;
}
