 .mainwrap {
   width:100%;
   height: 100%;
   background-color: black;
 }

 .contentwrap {
 }

 .carousel {
   width: 100%;
   height: 50%;
   margin: 5% auto;
 }

 .item {
   border: solid 4px white;
 }

 .blog {
   color: white;
   text-align: center;
 }
