 .mainwrap {
   width:100%;
   height: 100%;
   background-color: black;
 }


 .carousel {
   width: 100%;
   height: 50%;
   margin: 5% auto;
 }

 .item {
   border: solid 4px white;
 }

 .blog {
   color: white;
   text-align: center;
 }

 .ChInBtn {
   background-color: #202020;
   border: 1px solid white;
   color: white;
   border-radius: 3px;
 }

 .rollUpBtn {
   background-color: transparent;
   color: white;
   border: none;

 }

 .mainMenuBtn {
   background-color: transparent;
   border: none;
 }